<div id="banner" class="podcasts_banner">
		<h1>Discover your new favorite VR Scenario</h1>
	</div>
	
	<div id="podcasts" class="cf">
		<div class="wrapper">
			<ul class="cf">
				<% @podcasts.each do |podcast| %>
					<%= link_to podcast do %>
						<li>
						  <%= image_tag podcast.thumbnail.url(:medium) %>
							
							<div class="podcast_overview">
								<h2><%= podcast.title %></h2>
								<% @episodes_count = Episode.where(podcast_id: podcast) %>
								<p class="episode_count"><%= @episodes_count.count %> Episodes</p>
								
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>

			<%= will_paginate @podcasts %>
		</div>
		</div>	
		
<!-- 	</div>

	<div class="pagination">
		<span class="previous_page disabled">Previous</span>
		<em class="current">1</em>
		<a href="#">2</a>
		<a href="#" class="next_page">Next</a>

	</div> -->